@model HeimdallWeb.DTO.MenuViewDTO

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <div class="bar flex-grow-1">
        <div class="bar-item">
            <a class="bar-item-logo" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="bar-logo" src="~/images/HeimdallWeb_logo.png" alt="Heimdallr">
            </a>
        </div>

        <div class="bar-item">
            <a class="bar-item-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-search fa-lg"></i><div class="bar-char">Análise</div></a>
        </div>

        @if (Model.isAuthenticated)
        {
            <div class="bar-item">
                <a class="bar-item-link" asp-area="" asp-controller="History" asp-action="Index"><i class="bi bi-person-circle fa-lg"></i><div class="bar-char">Perfil</div></a>
            </div>

            <div class="bar-item">
                <a class="bar-item-link" role="button" asp-controller="Login" asp-action="Logout"><i class="bi bi-door-open fa-lg"></i><div class="bar-char">Sair</div></a>
            </div>
        }
        else
        {
            <div class="bar-item">
                <a class="bar-item-link" asp-area="" asp-controller="Login" asp-action="Index"><i class="bi bi-box-arrow-in-right fa-lg"></i><div class="bar-char">Login</div></a>
            </div>
            
            <div class="bar-item">
                <a class="bar-item-link" asp-area="" asp-controller="User" asp-action="Register"><i class="bi bi-person-plus fa-xl"></i><div class="bar-char">Cadastre-se</div></a>
            </div>
        }
    </div>
</div>