<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

@{
    ViewData["Title"] = "HeimdallWeb - Home";
}

<div class="container mt-5">
        @if (TempData["ErrorMsg"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close"><i class="bi bi-x-lg"></i></button>
            @TempData["ErrorMsg"]
        </div>
    }

    @if (TempData["OkMsg"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close"><i class="bi bi-x-lg"></i></button>
            @TempData["OkMsg"]
        </div>
    }
    
    <div class="row g-4 align-items-center">
        <div class="col-6">
            <div class="col-12 mb-5 text-center">
                <h1 class="display-4 mb-3 fw-bold">Descubra o quão seguro é seu site!</h1>
                <p class="lead text-muted mb-4">Basta inserir a URL do site em que deseja fazer uma varredura e com auxílio da IA, será gerado um relatório com os principais pontos fortes, pontos fracos e possíveis melhorias.</p>
            </div>

            <div class="col-12">
                <div class=" card shadow-lg border-0 rounded-4">
                    <div class="card-body p-4">
                        <p class="">Insira a URL do site aqui:</p>
                        <form id="scanForm" asp-controller="Home" asp-action="Scan" method="post"> 
                            <div class="input-group mb-5">
                                <input type="text" class="form-control form-control-lg" name="domainInput" id="domainInput"  
                                    placeholder="URL" required >
                            </div>
                            <div class="">
                                <button class="btn btn-primary btn-lg" type="submit">Analisar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 offset-1">
            <img src="~/images/Heimdallr_by_Froelich.png" alt="Heimdall">
        </div>
    </div>
</div>