<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/alerts.css" asp-append-version="true" />
</head>


@{
    ViewData["Title"] = "HeimdallWeb - Home";
}

@if (TempData["ErrorMsg"] != null)
{
    <div class="alert alert-danger fade show" role="alert">
        @TempData["ErrorMsg"]
        <button class="btn-close" aria-label="fechar" data-bs-dismiss="alert"></button>
    </div>
}

@if (TempData["OkMsg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["OkMsg"]
        <button class="btn-close" aria-label="fechar" data-bs-dismiss="alert"></button>
    </div>
}

<div class="container d-flex justify-content-center" style="height: 90vh;">

    <div class="row-cols-lg-2 d-flex justify-content-center align-self-center g-4">
        <div>
            <div class="mb-5 text-center text-white">
                <h1 class="display-4 mb-3 fw-bold">Descubra o quão seguro é seu site!</h1>
                <p class="lead mb-4">Basta inserir a URL do site em que deseja fazer uma varredura e com auxílio da IA, será gerado um relatório com os principais pontos fortes, pontos fracos e possíveis melhorias.</p>
            </div>

            <div>
                <div class="shadow-lg border-0 rounded-5">
                    <form id="scanForm" asp-controller="Home" asp-action="Scan" method="post"> 
                        <div class="input-group">
                            <input type="text" class="form-control form-control-lg border-dark border-end-0 rounded-start-5" name="domainInput" id="domainInput"  
                                placeholder="Insira a URL" required >
                            <button class="btn btn-primary btn-lg rounded-end-5" type="submit">Analisar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>