@{
    ViewData["Title"] = "P치gina de Usu치rio";
}


<a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="History">Historico</a>

<a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Dashboard">Dashboard</a>

<a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="AlterUser">Alterar Usu치rio</a>

<a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="DeleteUser">Excluir Usu치rio</a>
