:root {
  --main-color: #519CAB;
  --secondary-color: #C3E7F1;
  --tertiary-color: #20373B;
  --complementary-color: #FFC454;
  --background-color: #EAEAEA;
}

.btn {
    background-color: var(--tertiary-color);
    border: 5px;
    border-radius: 0.5rem;
    color: whitesmoke;
}

.btn:hover {
    background-color: #1c3033;
    color: #f5f5f5a4;
    border: 5px;
}