/* Error: expected selector.
 *   ,
 * 8 | }
 *   |  ^
 *   '
 *   wwwroot/scss/register-dark.scss 8:2  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a   \2577 \a 8 \2502  }\a   \2502   ^\a   \2575 \a   wwwroot/scss/register-dark.scss 8:2  root stylesheet";
}
