:root {
  --main-color: #519CAB;
  --secondary-color: #C3E7F1;
  --tertiary-color: #20373B;
  --complementary-color: #FFC454;
  --background-color: #EAEAEA;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

 html {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bar-item-link {
  display: flex;
  color: var(--tertiary-color);
  padding: 0.7rem;
  text-decoration: none;
  transition: 0.27s ease-in-out;
}

.bar-item-link:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 1.3rem;
}

.bar-char {
  padding-left: 0.6rem;
}

html {
  position: relative;
  min-height: 100%;
}