// Imports
@import "_variables-dark.scss"; // Dark theme variables
@import "_fonts.scss"; // Fonts

// Default styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
    position: relative;
    min-height: 100dvh;
    background-image: url("/images/cartographer.png");
    background-color: #f2f2f2;
    color: $color;
    font-size: 14px;
}

/*====================================================================================================================*/

@import "index.scss";
