@{
    ViewData["Title"] = "Deletar Usuário";
}

<p>Coloque sua senha para excluir sua conta</p>

<form action="#" method="get">
    <label for="conf-password">Senha:</label>
    <input type="password" name="conf-password" id="conf-password">
    <input type="button" value="excluir">
</form>