@model HeimdallWeb.DTO.DeleteUserDTO

@{
    ViewData["Title"] = "Excluir Usuário";
}

<head>
    <link rel="stylesheet" href="~/css/history-dark.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/delete-dark.css" asp-append-version="true" />
</head>

<div class="container mb-4">
    <div class="d-flex justify-content-between align-items-center py-3 bg-dark rounded-3 text-white history-header">
        <div class="d-flex align-items-center gap-3">
            <h4 class="m-0">Deletar conta</h4>

        </div>
        <div class="d-flex align-items-center gap-2">
            <a class="btn btn-outline-light btn-sm" asp-area="" asp-controller="History" asp-action="Index">Histórico</a>
            <a class="btn btn-outline-light btn-sm" asp-area="" asp-controller="User" asp-action="Edit">Alterar Usuário</a>
            @if (User.IsInRole("2"))
            {
                <a class="btn btn-outline-light btn-sm" asp-area="" asp-controller="Admin" asp-action="dashboard">Painel de Admin</a>
            }
        </div>
    </div>
</div>

@* TempData handled globally in _Layout.cshtml *@

<div class="container deletar-box">
    <div class="table-responsive delete-panel shadow-sm rounded bg-dark text-light p-3">
        <div class="row mb-4"><h2>Excluir Usuário <i class="bi bi-exclamation-circle"></i></h2></div>
        <div class="row"><p>Essa ação não pode ser desfeita. Coloque as informações da conta para continuar:</p></div>
        <div class="row">
            <form id="deleteForm" asp-action="Delete" asp-controller="User" method="post">
                <div class="form-group mb-4">
                    <label asp-for="password" class="form-label">Senha</label>
                    <input asp-for="password" class="form-control light-placeholder" placeholder="Senha da sua conta" type="password" required/>
                    @Html.ValidationMessageFor(x => x.password)
                </div>
                <div class="form-group mb-4">
                    <label asp-for="confirm_password" class="form-label">Confirmar senha</label>
                    <input asp-for="confirm_password" class="form-control light-placeholder" placeholder="Confirme sua senha" type="password" required/>
                    @Html.ValidationMessageFor(x => x.confirm_password)
                </div>
                <div class="form-check mb-5">
                    <input asp-for="confirm_delete" class="form-check-input" type="checkbox" required/>
                    <label asp-for="confirm_delete" class="form-check-label">
                        Confirmo que desejo excluir minha conta permanentemente
                    </label>
                    @Html.ValidationMessageFor(x => x.confirm_delete)
                </div>
                <button type="button" class="btn btn-outline-danger" id="btn-delete">Excluir <i class="bi bi-x-circle"></i></button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/delete.js" asp-append-version="true"></script>
}