@{
    ViewData["Title"] = "Alterar Usuário";
}

<form action="#" method="get">
    <label for="user">Alterar nome de usuário:</label>
    <input type="text" name="user" id="user">

    <input type="button" value="Alterar">
</form>

<form action="#" method="get">
    <label for="email">Alterar email:</label>
    <input type="email" name="email" id="email">

    <input type="button" value="Alterar">
</form>

<form action="#" method="get">
    <label for="password">Alterar senha:</label>
    <input type="password" name="password" id="password">
    
    <label for="conf-password">Confirmar senha:</label>
    <input type="conf-password" name="conf-password" id="conf-password">

    <input type="button" value="Alterar">
</form>