@model List<UserModel>
@{
    ViewData["Title"] = "Histórico";
}

<table class="table table-striped-columns">
    <tr>
        <th scope="col">ID do usuário</th>
        <th scope="col">Login</th>
        <th scope="col">Email</th>
    </tr>

    @if (Model.Any() && Model != null)
    {
        foreach (UserModel? user in Model)
        {   
            <tr>
                <th scope="row">@user.user_id</th>
                <td>@user.username</td>
                <td>@user.email</td>
            </tr>
        }  
    }
    else
    {
        <p>Nenhum registro no historico</p>
    }
</table>