@{
    ViewData["Title"] = "Histórico";
}

<table>
    <tr>
        <th>Nome</th>
        <th>Data que foi criado</em></th>
        <th>Ações</th>
    </tr>
    <tr>
        <td>Exemplo nome</td>
        <td>00/00/0000</td>
        <td>
            <button>JSON puro</button>
            <button>Rever formulario</button>
        </td>
    </tr>
</table>