@{
    ViewData["Title"] = "P치gina de Usu치rio";
}

<head>
    <link rel="stylesheet" href="~/css/perfil_menu.css" asp-append-version="true" />
</head>

<div class="container">
    <div class="row justify-content-evenly align-items-center">
        <div class="col">
            <a class="nav-link text-center text-dark" asp-area="" asp-controller="History" asp-action="Index">Historico</a>
        </div>
        @if (User.IsInRole("2")){
            <div class="col">
                <a class="nav-link text-center text-dark" asp-area="" asp-controller="Admin" asp-action="DashboardAdmin">Dashboard</a>
            </div>
        }   
        <div class="col">
            <a class="nav-link text-center text-dark" asp-area="" asp-controller="User" asp-action="Edit">Alterar Usu치rio</a>
        </div>
        <div class="col">
            <a class="nav-link text-center text-dark" asp-area="" asp-controller="User" asp-action="Delete">Excluir Usu치rio</a>
        </div>
    </div>
</div>