@model UserModel
@{
    ViewData["Title"] = "Registrar";
}

@if (TempData["OkMsg"] != null)
{
    <h3>@TempData["OkMsg"]</h3>
}

@if (TempData["ErrorMsg"] != null)
{
    <h3>@TempData["ErrorMsg"]</h3>
}


<form asp-controller="User" asp-action="RegisterAction" method="post">
    <label for="username">Nome de usuário:</label>
    <input type="text" name="username" id="username"> <br>

    <label for="email">Email:</label>
    <input type="email" name="email" id="email"> <br>
    
    <label for="password">Senha:</label>
    <input type="password" name="password" id="password">

    <button type="submit">Enviar</button>
</form>