<head>
    <link rel="stylesheet" href="~/css/register-dark.scss" asp-append-version="true" />
</head>

@model UserModel
@{
    ViewData["Title"] = "Registrar";
}

@* TempData handled globally in _Layout.cshtml *@

<div class="container card-color mt-5 d-flex justify-content-center align-items-center flex-grow-1" data-bs-theme="dark">

    <div class="card shadow-lg p-4 rounded-4" style="max-width: 450px; width: 100vh;">
    <div class="text-center mb-4">
        <h2 class="mt-2 acme">Crie sua conta</h2>
    </div>

    <form asp-controller="User" asp-action="Register" method="post">
        <div class="mb-3">
        <label for="username" class="form-label roboto">
            <i class="fa-solid fa-user"></i> Usuário
        </label>
        @Html.ValidationMessageFor(x => x.username)
        @* Mensagem de validação (teste) do model, mudar para algo mais bonito depois *@
        <input type="text" class="form-control" name="username" asp-for="username" id="username" placeholder="Escolha um nome de usuário" required>
        <ul class="regras mt-2">
            <li>Não pode ter espaço</li>
            <li>No mínimo 6 caracteres, no máximo 30</li>
        </ul>
        </div>

        <div class="mb-3">
        <label for="email" class="form-label roboto">
            <i class="fa-solid fa-envelope"></i> Email
        </label>
        <input type="email" class="form-control" asp-for="email" id="email" name="email" placeholder="Digite seu email" required>
        @Html.ValidationMessageFor(x => x.email)
        </div>

        <div class="mb-3">
        <label for="password" class="form-label roboto">
            <i class="fa-solid fa-lock"></i> Senha
        </label>
            <div class="input-group">
                <input type="password" class="form-control" asp-for="password" id="password_hide" name="password" placeholder="Crie uma senha válida" required>
                @Html.ValidationMessageFor(x => x.password)
                <span class="input-group-text rounded-end-3" id="hide_eye"><i class="bi bi-eye-fill" onclick="showPassword()"></i></span>
                <span class="input-group-text rounded-end-3 d-none" id="show_eye"><i class="bi bi-eye-slash-fill" onclick="showPassword()"></i></span>
            </div>
        </div>

        <div class="mb-3">
        <label for="confirmPassword" class="form-label roboto">
            <i class="fa-solid fa-lock"></i> Confirmar Senha
        </label>
        <div class="input-group">
            <input type="password" class="form-control" asp-for="confirm_password" id="confirm_password" name="confirm_password" placeholder="Confirme sua senha" required>
            @Html.ValidationMessageFor(x => x.confirm_password)
            <span class="input-group-text rounded-end-3" id="confirm_hide_eye"><i class="bi bi-eye-fill" onclick="showConfirmPassword()"></i></span>
            <span class="input-group-text rounded-end-3 d-none" id="confirm_show_eye"><i class="bi bi-eye-slash-fill" onclick="showConfirmPassword()"></i></span>
        </div>
        <ul class="regras mt-2">
            <li>No mínimo 8 caracteres</li>
            <li>Pelo menos um caractere especial</li>
            <li>Pelo menos um número</li>
        </ul>
        </div>

        <div class="d-grid mb-3">
        <button class="btn btn-success btn-warning roboto" type="submit">
            Cadastrar
        </button>
        </div>

        <div class="text-center">
            <small class="roboto">Já tem uma conta? <a asp-area="" asp-controller="Login" asp-action="Index" class="roboto">Faça login</a></small>
        </div>
    </form>
    </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>


<script src="~/js/eye.js" asp-append-version="true"></script>