@{
    ViewData["Title"] = "Registrar";
}


<form action="#" method="get">
    <label for="user">Nome de usuário:</label>
    <input type="text" name="user" id="user"> <br>

    <label for="email">Email:</label>
    <input type="email" name="email" id="email"> <br>
    
    <label for="password">Senha:</label>
    <input type="password" name="password" id="password">
    
    <label for="conf-password">Confirmar senha:</label>
    <input type="conf-password" name="conf-password" id="conf-password">

    <input type="button" value="Entrar">
</form>