@model HeimdallWeb.DTO.LoginDTO
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">

    <h1 class="display-4">Fazer o login</h1>

</div>

@if (TempData["OkMsg"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["OkMsg"]
    </div>
}

@if (TempData["ErrorMsg"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["ErrorMsg"]
    </div>
}


<form asp-action="Enter" asp-controller="Login" method="post">
    <div class="mb-3">
        <label for="emailOrLogin">Login ou Email</label>
        <input type="text" asp-for="emailOrLogin" class="form-control">
        @Html.ValidationMessageFor(x => x.emailOrLogin)
    </div>

    <div class="mb-3">
        <label for="password">Senha:</label>
        <input type="password" asp-for="password" class="form-control">
        @Html.ValidationMessageFor(x => x.password)
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Fazer login</button>
    </div>
</form>