:root {
  --slide-down-fade: slideDownFade 0.8s cubic-bezier(.01,.25,.45,1) both;
}



@keyframes spinner {
  to {
    transform: rotateX(360deg);
  }
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(clamp(-1000px, -50%, -150px));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}