@font-face {
    font-family: "Roboto";
    src: url('~/Fontes/Roboto/static/Roboto_Condensed-Regular.ttf');
}

@font-face {
    font-family: "Roboto-Mono";
    src: url('~/Fontes/Roboto_Mono/static/RobotoMono-Regular.ttf');
}

@font-face {
    font-family: "Roboto-Serif";
    src: url('~/Fontes/Roboto_Serif/static/RobotoSerif-Regular.ttf');
}

.title {
    font-family: 'Roboto-Serif';
    font-weight: 900;
    font-size: 3.5rem;
}


.normal {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.5rem;
}

.normal-italic {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.5rem;
    font-style: italic;
}

.minus-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.25rem;    
}

.minus {
    font-family: 'Roboto-Mono';
    font-weight: 300;
    font-size: 1.15rem;
}

@media (max-width: 768px) {

    .title {
        font-size: 2rem;
    }

    .normal {
        font-size: 1.2rem;
    }

    .minus-title {
        font-size: 1.1rem;    
    }

    .minus {
        font-size: 0.8rem;
    }

}

@media (max-width: 1200px) {

    .title {
        font-size: 3rem;
    }

    .normal {
        font-size: 1.2rem;
    }

    .minus-title {
        font-size: 1.1rem;    
    }

    .minus {
        font-size: 1rem;
    }

}