// Imports
@import "_variables-dark.scss";
@import "_animations.scss";

/*=== === === GLOBAL CLASSES === === ===*/

// Buttons styles
.btn-outline-success {
  color: $success;
  border-color: rgba($success, 0.85);

  &:hover {
    background: rgba($success, 0.12);
    color: $color;
  }
}
.btn-outline-primary {
  color: $primary;
  border-color: rgba($primary, 0.85);

  &:hover {
    background: rgba($primary, 0.12);
    color: $color;
  }
}

.btn-outline-danger {
  color: $danger;
  border-color: rgba($danger, 0.85);

  &:hover {
    background: rgba($danger, 0.12);
    color: $color;
  }
}

.pagination {
  .page-link {
    background: rgba($complementary,0.9);
    color: $color;
    border: 1px solid rgba($black, .2);

    &:hover {
      background: $background2;
      color: $color;
    }
  }

  .page-item.active {
    .page-link {
      background: $background;
      border-color: $background2;
    }
  }
}

// Aria disabled
.aria-disabled {
  position: relative;
  cursor: not-allowed;
  overflow: hidden;
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba($black, .2);
  }
}

// Glass Background
.bg-glass {
  border: 1px solid rgba($white, .5);
  border-bottom: 1px solid rgba($white, .2);
  border-right: 1px solid rgba($white, .2);
  transition: background 250ms ease, box-shadow 250ms ease;
  &:hover {
    background: rgba($white, .1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 0 5px 25px 20px rgba($black, .1),
    inset 5px 5px 10px 3px rgba($white, .2);
  }
}

// Input Placeholder Color Fix
*::placeholder {
  color: $color;
  opacity: 0.6;
}

// Modal styles
.modal {
  background: rgba($background, .5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Webkit browsers */
  .modal-header,
  .modal-footer {
    background: $complementary;
  }
  .modal-body {
    background: $background;
  }
  .modal-dialog {
    max-width: 1100px;
  }
}
@media (max-width: 1200px) {
  .modal-dialog {
    max-width: 95%;
  }
}

// Table styles
.table {
  td, th{
    vertical-align: middle;
  }
}
@media (max-width: 768px) {
  .table thead {
    display: none;
  }
  .table tbody td {
    display: block;
    width: 100%;
  }
}

// Slide Down Fade Animation
.slide-down-fade {
  animation: var(--slide-down-fade);
  animation-delay: var(--animation-delay, 0ms);
  will-change: transform, opacity;
}

// Form Select Styles
.form-select option {
  background-color: $background;
}
.form-control:focus,
.form-select:focus {
  background-color: rgba($white, .05);
  border-color: $background2;
}