// Imports
@import "_variables-dark.scss";
@import "_animations.scss";

/*=== === === GLOBAL CLASSES === === ===*/

// Buttons styles
.btn-outline-success {
  color: $success;
  border-color: rgba($success, 0.85);

  &:hover {
    background: rgba($success, 0.12);
    color: $color;
  }
}
.btn-outline-primary {
  color: $primary;
  border-color: rgba($primary, 0.85);

  &:hover {
    background: rgba($primary, 0.12);
    color: $color;
  }
}

.btn-outline-danger {
  color: $danger;
  border-color: rgba($danger, 0.85);

  &:hover {
    background: rgba($danger, 0.12);
    color: $color;
  }
}


.btn-primary {
    background-color: $primary;
    border: 5px;
    color: whitesmoke;
    border-radius: 0.5rem;
}

.btn-primary:hover {
    background-color: $primary-dark;
    color: #f5f5f5a4;
    border: 5px;
}

.btn-primary:focus {
  background-color: $primary-dark;
  color: #f5f5f5a4;
  border: 5px;
}

.btn-primary:active {
  background-color: $primary-dark-2 !important;
  color: #f5f5f5a4;
  border: 5px;
}

.pagination {
  .page-link {
    background: rgba($complementary,0.9);
    color: $color;
    border: 1px solid rgba($black, .2);

    &:hover {
      background: $background-2;
      color: $color;
    }
  }

  .page-item.active {
    .page-link {
      background: $background;
      border-color: $background-2;
    }
  }
}

// Aria disabled
.aria-disabled {
  position: relative;
  cursor: not-allowed;
  overflow: hidden;
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba($black, .2);
  }
}

// Glass Background
.bg-glass {
  border: none;
  transition: background 250ms ease, box-shadow 250ms ease;
  &:hover {
    border: 1px solid rgba($white, .5);
    border-bottom: 1px solid rgba($white, .2);
    border-right: 1px solid rgba($white, .2);
    background: rgba($white, .1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 0 5px 25px 20px rgba($black, .1),
    inset 5px 5px 10px 3px rgba($white, .2);
  }
}

// Input Placeholder Color Fix
input::placeholder {
  color: $color;
  opacity: 0.6;
}

// Modal styles
.modal {
  background: rgba($background, .5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Webkit browsers */
  .modal-header,
  .modal-footer {
    background: $complementary;
  }
  .modal-body {
    background: $background;
  }
  .modal-dialog {
    max-width: 1100px;
  }
}
@media (max-width: 1200px) {
  .modal-dialog {
    max-width: 95%;
  }
}

// Table styles
.table {
  td, th{
    vertical-align: middle;
  }
}
@media (max-width: 768px) {
  .table thead {
    display: none;
  }
  .table tbody td {
    display: block;
    width: 100%;
  }
}

// Slide Down Fade Animation
.slide-down-fade {
  animation: var(--slide-down-fade);
  animation-delay: var(--animation-delay, 0ms);
  will-change: transform, opacity;
}

// Form Select Styles
.form-select option {
  background-color: $background;
}
.form-control:focus,
.form-select:focus {
  background-color: rgba($white, .05);
  border-color: $background-2;
}

// Card Styles
.small-box {
  position: relative;
  border-radius: .25rem;
  height: 129px;
  padding: 10px;
  overflow: hidden;
  .inner {
    h3 {
      font-size: 2.5rem;
      font-weight: 700;
    }
    p {
      font-size: 1rem;
    }
  }
  .icon {
    position: absolute;
    top: calc(50% - 10px);
    transform: translateY(-50%);
    right: 15px;
    color: rgba($black, .15);
    i {
      font-size: 4rem;
      transition: 450ms ease-in-out;
    }
  }
  &:hover .icon i {
    transform: scale(1.2);
  }
  .small-box-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 1rem;
    height: 27px;
    background: rgba($black, .15);
    width: 100%;
    transition: 200ms;
    &:hover{
      background: rgba($black, .30);
    }
  }
}