// Imports
@import "_variables-dark.scss";

// SweetAlert2 styles
.swal2-title {
  color: #ffffff;
  font-weight: 600;
}
.swal2-content {
  color: $color;
}
.swal2-styled {
  box-shadow: none;
  border-radius: 0.35rem;
  padding: 0.55rem 1rem;
}
.swal2-confirm {
  background: transparent;
  color: $color;
  border: 1px solid rgba($white, .06)
}
.swal2-cancel {
  background: transparent;
  color: $danger;
  border: 1px solid rgba($white, .06);
}
.swal2-icon {
  box-shadow: none;
}
.swal2-icon.swal2-warning {
  color: $color;
}
.swal2-footer {
  color: $color;
}
.swal2-html-container a {
  color: $color;
}
@media (max-width: 576px) {
  .swal2-popup {
    width: 92%;
  }
}