// Basics
$white: #ffffff;
$black: #000000;

// Theme Colors
$background: #252525;
$background2: #303030;
$complementary: #4a4a4a;

$background-image: #faebd7;
$color: $white;

$primary: #516fab; // #2f6f8f;

$success: #2a6b6d;
$danger: #c94b56;


// Alert Colors
$alert-danger-bg: #e74c3c; // primary error
$alert-danger-bg-soft: #c0392b; // softer/hover error
$alert-success-bg: #2ecc71; // primary success
$alert-success-bg-soft: #27ae60; // softer/hover success
$alert-color: #fff; // alert text color

$background-color: rgb(242, 228, 209);

:root {
  --bs-primary: $primary;
}