$alert-danger-bg: #e74c3c; // primary error
$alert-danger-bg-soft: #c0392b; // softer/hover error
$alert-success-bg: #2ecc71; // primary success
$alert-success-bg-soft: #27ae60; // softer/hover success
$alert-color: #fff; // alert text color

$main-color: #516FAB;
$complementary-color: #a85342;
$background-color: rgb(242, 228, 209);
