:root {
  --main-color: #519CAB;
  --secondary-color: #C3E7F1;
  --tertiary-color: #20373B;
  --complementary-color: #FFC454;
  --background-color: #EAEAEA;
}

.cont-menu {
  background-color: var(--main-color);
  margin-top: -1rem;
}

.row-menu {
  height: 5vh;
}
