@import 'history-dark.scss';

/* Make primary and outline buttons on the edit page use the Heimdall accent color
   to match the Buscar button on the dashboard admin. */
.page-panel {
  padding: 1rem;
  background-color: #212529;
  
  .btn-outline-primary {
    color: $heimdall-accent;
    border-color: rgba($heimdall-accent, 0.9);
    background: transparent;
  }
  
  .nav-link {
    color: #fff;
    &.active{
      color: $heimdall-primary;
    }
  }
  
  .btn-outline-primary:hover,
  .btn-outline-primary:focus {
    background: rgba($heimdall-accent, 0.12);
    color: #fff;
    border-color: rgba($heimdall-accent, 1);
  }
}