@import 'fonts.scss';
@import 'alerts.scss';



:root {
  --main-color: #516FAB;
  --complementary-color: #a85342;
  --background-color: rgb(242, 228, 209);;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

 html {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.nav-link {
  font-size: 1.4rem;
}

<<<<<<< Updated upstream
.bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bar-item-link {
  display: flex;
  color: var(--tertiary-color);
  padding: 0.7rem;
  text-decoration: none;
  transition: 0.27s ease-in-out;
}

.bar-item-link:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 1.3rem;
}

.bar-logo {
  width: 33vh;
}

.bar-char {
  padding-left: 0.6rem;
}
=======
.navbar {
  background-color: #353935;
}

.modal {
  background: rgba(44, 44, 44, .5); /* Semi-transparent background for visibility */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Webkit browsers */
}

.modal-body {
  background-color: #2c302c;
}

/* .rainbow-button:hover {
background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  color: white;
  cursor: pointer;
  transition: background-position 0.5s ease;
} */
>>>>>>> Stashed changes

body {
  position: relative;
  min-height: 100vh;
  background-image: url('/images/cartographer.png');
  background-color: var(--background-color);
} 