@import 'fonts.scss';
@import 'alerts.scss';
@import 'variables-dark';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

.nav-link {
  font-size: 1.4rem;
}

.modal {
  background: rgba(44, 44, 44, .5); /* Semi-transparent background for visibility */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Webkit browsers */
}

.modal-body {
  background-color: #2c302c;
}

/* .rainbow-button:hover {
background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  color: white;
  cursor: pointer;
  transition: background-position 0.5s ease;
} */

body {
  position: relative;
  min-height: 100vh;
  background-image: url('/images/cartographer.png');
  background-color: $background-color;
} 